{% extends 'base.html.twig' %}

{% block title %}Hello DonorController!{% endblock %}

{% block body %}
    <section id="article">
        <div class="container">
            <img class="head-img" src="imgs/p4.jpg" alt="">
            <div class="details-container">
                <div class="title">{{ activity.nameActivity }}</div>
                <p>
                    {{ activity.description }}

                </p>
                <p>
                    Date: {{ activity.date|date('Y-m-d') }}
                </p>
                <a href="{{ path('app_confirm_participation', {'idact': activity.id,'id':app.user.id}) }}" class="btn btn-success">Participate</a>


            </div>




            <!-- Articles End -->

        </div>
    </section>
    <!-- Article End -->
{% endblock %}
